<fieldset class="form-group">
	<%= f.label "Text_Field"%>

	<div class="input-group">
	    <span class="input-group-addon">
        <%= f.check_box :required %> <%= f.label :required %>
      </span>
      <%= f.text_field :name, placeholder: "Name" ,class:"form-control"%>
      <span class="input-group-btn">
				<%= f.hidden_field :_destroy%>
       	<a href="#" role="button" class="remove_fields btn btn-default">
							<span aria-hidden="true">&times;</span>
				</a>
      </span>
  </div><!-- /input-group -->

	<%= f.hidden_field :field_type ,:value =>"text_field" %>
	<%= f.hidden_field :default_type ,:value =>"text_field" %>

</fieldset>