<div class="col-md-8 col-md-offset-2 inner-section">
<p id="notice"><%= notice %></p>


<h1>Reply List</h1>	
<h2>Here is <%= link_to "Link" , new_form_reply_path(:form_id=>@form.id)%> for This Form</h2>
<h4>or here is address => </h4>
<h4><%=  new_form_reply_url(:form_id=>@form.id)%></h4>
<% if @form.replies.first%>
	<table class="table table-striped table-bordered table-condensed">
	  <thead>
	    <tr>
	      <% @form.replies.first.properties.each do |p,v| %>
					<th>
						<%= p %>
	      	</th>
	      <% end %>
	    </tr>
	  </thead>

	  <tbody>
	    <% @form.replies.each do |r| %>
	    <tr>
	      <% r.properties.each do |p,v| %>
					<td>
						<%= v %>
	      	</td>
	      <% end %>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
<%else%>

<%end%>

<% link_to 'Edit', edit_form_path(@form) %>
<%= link_to 'Back', forms_path ,class:"btn btn-default"%>
</div>
