<!DOCTYPE html>
<html>
<head>
  <title>TyForm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/navbar" %>
<div class="container">
	<% if notice %>
	  <p class="alert alert-success alert-section"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger alert-section"><%= alert %></p>
	<% end %>
  <%= yield %>

</div>

</body>
</html>
